<% if user_signed_in? %>
  <%= render "home/dashboard" %>
<% else %>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <p><a href="" data-toggle="modal" data-target="#signUp" data-whatever="">Sign Up<a></p>
          <%= render "devise/registrations/new" %>
      </ul>
    </div>

    <div class="jumbotron">
      <h1>Welcome to Chuong Care</h1>
      <p class="lead">Where a little care goes a long way</p>
      <p><button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#logIn" data-whatever="">Sign In</button></p>
      <%= render "devise/sessions/new" %>

    </div>

    <div class="footer">
      <p>&copy; MC 2017</p>
    </div>
  </div> <!-- /container -->
<% end %>
